<div [appTelemetryImpression]="telemetryImpression">
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="javascript:"><img
                            src="./assets/nuih/img/nuih-logo.jpg" width="100%" height="100%" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/lms">Learn</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/innovate">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/iudx">Data</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/smartgov">Smart
                                    Governance</a> </li>
                            <li class="nav-item"> <a class="btn btn-primary" href="/learn">Sign In/Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

        <div class="intro-content">
            <div class="container">
                <h2>LET'S BUILD<br>
                    SMART CITIES TOGETHER </h2>
                <p>An initiative by MoHUA to accelerate innovation and build capacity in the urban ecosystem <br>
                 by connecting Communities, Industry, Academia and Governments for solutioning at scale and speed</p>
            </div>
        </div>
        <div id="intro-carousel" class=" ">
            <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/landing.png');"></div>
        </div>
        <!-- <div id="intro-carousel" class="owl-carousel" >
        <div class="overlay-color"></div>
          <div class="item" style="background-image: url('./assets/nuih/img//intro-carousel/landing.png');"></div>
           <div class="item" style="background-image: url('./assets/nuih/img//intro-carousel/landing.png');"></div>
            <div class="item" style="background-image: url('./assets/nuih/img//intro-carousel/landing.png');"></div> 
            <div class="item" style="background-image: url('./assets/nuih/img//intro-carousel/landing.png');"></div>
          
        </div> -->
    </section>
    <!-- #intro -->

    <main id="main">
        <section id="testimonials" class="wow fadeInUp landing-page-counter">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-2 col-lg-2 col-sm-2 pull-left">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="300" data-speed="1500">+</h2>
                            <p class="count-text ">Industry Participants</p>
                        </div>
                        <div class="top-botm-border"></div>
                    </div>

                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="600" data-speed="1500">+</h2>
                            <p class="count-text ">Innovation Challenges</p>
                        </div>
                        <div class="top-botm-border"></div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">+</h2>
                            <p class="count-text">Collaborations </p>
                        </div>
                        <div class="top-botm-border"></div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="400" data-speed="1500">+</h2>
                            <p class="count-text ">Knowledge Resources</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2"></div>
                </div>

                <div class="section-header">
                    <h2>Get Started</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr2.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Participate in "Innovation Challenges" and grow your professional network

                        </p>
                        <div class="learn" (click)="redirectToUrl('innovate')">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Learn and<br>
                            Contribute</h3>
                        <p> Leverage a rich library of curated learning resources in your innovation journey

                        </p>
                        <div class="learn" (click)="redirectToUrl('lms')">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr3.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Discover<br>
                            Urban Data</h3>
                        <p> Browse through a catalog of data across the urban ecosystem

                        </p>
                        <div class="learn" (click)="redirectToUrl('iudx')">Learn More</div>
                    </div>
                </div>

            </div>
        </section>

        <!--==========================
        About Section
      ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container get-inspired-container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">Get Inspired</h2>
                        <p>Latest success stories<br>
                            and updates from urban <br>
                            India.</p>
                        <div class="pull-left viewall"><a href="javascript:" class="view" (click)="redirectToUrl('comingsoon')">View All</a> <i
                                class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                    </div>
                    <div class="col-lg-10">
                        <div class="container">
                            <div id="demo2" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner no-padding ">
                                    <!-- Left and right controls -->

                                    <div class="carousel-item active">
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top"
                                                    src="./assets/nuih/img/sldier1.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>SUCCESS STORY</b></p>
                                                <p class="highlight"><b>Waste Management Programme in Shivalik Nagar,
                                                        Haridwar.</b></p>
                                                <p>The story about how Haridwar successfully planned its Waste
                                                    Management Programme alongside its citizens...</p>

                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier2.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>CASE STUDY</b></p>
                                                <p class="highlight"><b>Energy Principles and Renewable Energy,
                                                        Pune.</b></p>
                                                <p>An introduction to the language of energy, key scientific principles
                                                    that
                                                    underpin energy systems, future energy...</p>

                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier3.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>CASE STUDY</b></p>
                                                <p class="highlight"><b>City Operation Center, Nagpur.</b></p>
                                                <p>The video provides a brief introduction to the functioning of the
                                                    City Operation Center. 3800 CCTV cameras installed at...</p>


                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top"
                                                    src="./assets/nuih/img/sldier1.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>SUCCESS STORY</b></p>
                                                <p><b>Waste Management Programme in Shivalik Nagar,
                                                        Haridwar.</b></p>
                                                <p>The story about how Haridwar successfully planned its Waste
                                                    Management programme alongside its citizens...</p>

                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier2.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>CASE STUDY</b></p>
                                                <p><b>Energy Principles and Renewable Energy, Pune.</b></p>
                                                <p>An introduction to the language of energy, key scientific principles
                                                    that
                                                    underpin energy systems, future energy...</p>

                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="#" onclick=abc(this)
                                                class="slider_info"> <img class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier3.jpg"> </a>
                                            <div class="silder-content">
                                                <p><b>CASE STUDY</b></p>
                                                <p><b>City Operation Center, Nagpur.</b></p>
                                                <p>The video provides a brief introduction to the functioning of the
                                                    City Operation Center. 3800 CCTV cameras installed at...</p>


                                                <p class="bottom-text">20 January, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <a class="carousel-control-prev" href="#demo2" data-slide="prev"><span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <a class="carousel-control-next" href="#demo2" data-slide="next"><span
                                            class="carousel-control-prev-icon sp"></span> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->

        <!--==========================
        How it works Section
      ============================-->
        <!-- <section id="testimonials" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>How it works?</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr2.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr3.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="200" data-speed="1500">+</h2>
                            <p class="count-text ">Innovation Challenges</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="100" data-speed="1500">+</h2>
                            <p class="count-text ">Industry Participants</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">+</h2>
                            <p class="count-text ">Knowledge Resources</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">+</h2>
                            <p class="count-text ">Successful Collaboration</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- #testimonials -->

        <!--==========================
        Opportunity
      ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container new-opportunity-container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">New<br>
                            Opportunities</h2>
                        <p>"Innovation Challenges" by the Smart City CEOs for organizations to offer their products and
                            services </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container">
                            <div *ngFor="let section of opportunitiesCarouselData">
                                <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)"
                                    [section]="section"></app-page-section>
                            </div>

                            <!-- <div id="demo" class="carousel slide" data-ride="carousel">

                                
                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                
                                <div class="carousel-inner no-padding ">
                                    

                                    <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
                                            class="carousel-control-prev-icon sp"></span> </a> <a
                                        class="carousel-control-next" href="#demo" data-slide="next"> <span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <div class="carousel-item active">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right viewall"><a href="javascript:" class="view">View All</a> <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #call-to-action -->

        <!--==========================
        Our Team Section
      ============================-->
        <section id="team" class="wow fadeInUp">
            <div class="container grow-your-network-container">
                <div class="section-header grow">
                    <div class="col-md-7 col-lg-7 pull-left">
                        <h2 class="grow-hd">Grow Your
                            Network</h2>
                        <p>Connect with your fellow innovators like Smart City CEOs, industries,
                            startups, academic institutes, funding organizations and NGOs. </p>



                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-3 col-lg-3 pull-left">
                        <div class="col grow-your-network-timer">
                            <div class="counter gr-ctn">
                                <h2 class="timer count-title count-number text-align-left grn-color " data-to="10000"
                                    data-speed="1500">200</h2>
                                <p class="count-text ">Innovators</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter gr-ctn">
                                <h2 class="timer count-title count-number text-align-left grn-color " data-to="500"
                                    data-speed="1500">200</h2>
                                <p class="count-text ">Private Organizations</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #team -->

        <section id="about" class="wow fadeInUp">
            <div class="container popular-courses-container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">Popular<br>
                            Courses</h2>
                        <p>Access the latest knowledge on issues of urban importance </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container">
                            <div class="ui grid margin-bottom-0 hidden-section">
                                <div class="twelve wide column">
                                    <app-prominent-filter appTelemetryInteract
                                        [telemetryInteractEdata]="filterIntractEdata" *ngIf="filterType"
                                        [filterEnv]="filterType" [ignoreQuery]="['key', 'language']"
                                        [redirectUrl]="redirectUrl" [accordionDefaultOpen]=true [isShowFilterLabel]=true
                                        [showSearchedParam]=true [isShowFilterLabel]=true [hashTagId]="hashTagId">
                                    </app-prominent-filter>
                                </div>
                            </div>

                            <div *ngFor="let section of booksCarouselData">
                                <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)"
                                    [section]="section"></app-page-section>
                            </div>
                            <div class="twelve wide column" *ngIf="showLoader">
                                <app-loader [data]='loaderMessage'></app-loader>
                            </div>
                            <div *ngIf="noResult && !showLoader">
                                <app-no-result [data]="noResultMessage"></app-no-result>
                            </div>
                            <!-- <div id="demo3" class="carousel slide" data-ride="carousel">

                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                <div class="carousel-inner no-padding ">

                                    <a class="carousel-control-prev" href="#demo3" data-slide="prev"> <span
                                            class="carousel-control-prev-icon sp"></span> </a> <a
                                        class="carousel-control-next" href="#demo3" data-slide="next"> <span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <div class="carousel-item active">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right viewall"><a href="javascript:" class="view">View All</a> <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
        Contact Section
      ============================-->
        <section id="contact" class="wow fadeInUp">
            <div class="container">
                <div class="section-header text-center">
                    <h2>About Us</h2>
                    <p>An initiative by MoHUA to accelerate innovation and build capacity in the urban ecosystem
                         <br>
                        by connecting Communities, Industry, Academia and Governments for solutioning at scale and speed..
                    </p>
                    <div class="btn btn-primary nuih" (click)="redirectToUrl('aboutus')">Learn More</div>
                </div>

            </div>


        </section>
        <!-- #contact -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg" id="mainNav2">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="http://niua.org"><img
                            src="./assets/nuih/img/footer-logo.jpg" width="auto" height="auto" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="blue" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ft"> <a href="http://smartcities.gov.in/content/" target="_blank"><img
                                        src="./assets/nuih/img/smrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="http://amrut.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/amrut.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://www.hridayindia.in/"  target="_blank"><img
                                        src="./assets/nuih/img/hri.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm" target="_blank"><img
                                        src="./assets/nuih/img/bhrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://pmaymis.gov.in/" target="_blank"><img src="./assets/nuih/img/m.png"
                                        width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://nulm.gov.in/" target="_blank"><img src="./assets/nuih/img/day.png"
                                        width="90px" height="auto" alt="" /></a> </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
    <!-- #footer -->

    <!-- <a href="javascript:" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
</div>
