<div [appTelemetryImpression]="telemetryImpression">

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="javascript:"><img
                            src="./assets/nuih/img/nuih-logo.jpg" width="100%" height="100%" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/nuis">Home</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/lms">Learn</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/innovate">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/iudx">Data</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger nav-active"
                                    href="javascript:">Smart
                                    Governance</a> </li>
                            <li class="nav-item"> <a class="btn btn-primary" href="/comingsoon">Sign In/Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
        <div class="intro-content">
            <div class="container text-center smart-gov">
                <h2>DIGITAL INFRASTRUCTURE FOR <br>
                    GOVERNANCE, IMPACT & TRANSFORMATION </h2>
                <p>Enabling integrated e-governance and digital delivery of civil services for ease of living
                </p>
            </div>
        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/Rectangle.png');"></div>

        </div>
    </section>
    <!-- #intro -->

    <main id="main">
        <!-- <section id="team" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="section-header">
                    <h2>DIGITAL INFRASTRUCTURE FOR <br>
                        GOVERNANCE, IMPACT & TRANSFORMATION</h2>
                    <p class="text-center">A safe, quick and easy solution for all Civic needs </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th4.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h4>Chose a service</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th3.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h4>Fill out details</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th2.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h4>Track Application</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th1.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h4>Get Job done</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!--==========================
            Opportunity
          ============================-->

        <!-- #call-to-action -->
        <section id="testimonials" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 pull-left">
                        <div class="content smart-gov-text">
                            <h2 class="border-btm"><b>Mobile Enabled</b></h2>
                            <p>Smart Governance will adopt a mobile first
                                approach, with robust mobile applications
                                enabling
                                citizens to easily access government services
                                through their phones.
                                Government officials and field
                                workers are also empowered with mobile

                                applications that enable them to deliver
                                24×7 governance with ease.</p>
                            <!-- <div class="pull-left viewall"><a href="javascript:" (click)="redirectToUrl('comingsoon')" class="view">View All</a> <i
                                    class="fa fa-long-arrow-right" (click)="redirectToUrl('comingsoon')" aria-hidden="true"></i></div> -->
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-5 col-lg-5 col-sm-12 pull-right smart-gov-img"> <img
                            src="./assets/nuih/img/mb.jpg" alt="" /> </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-12 pull-left smart-gov-img"> <img
                            src="./assets/nuih/img/lp.jpg" alt="" /> </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-6 col-lg-6 col-sm-12 pull-right">
                        <div class="content smart-gov-text">
                            <h2 class="smart-gov-heading"><b>Real time Dashboards <br>
                                    to drive decisions</b></h2>
                            <h2 class="border-btm"></h2>
                            <p>Real time dashboards provide governments with actionable insights
                                on demand. Administrators and department heads are empowered with verified data that
                                enables them to manage their work and budgets better. Field level employee reports
                                enable effective performance management and ensures efficient usage of government
                                resources.</p>
                            <!-- <div class="pull-left viewall"><a href="javascript:" (click)="redirectToUrl('comingsoon')" class="view">View All</a> <i
                                    class="fa fa-long-arrow-right" (click)="redirectToUrl('comingsoon')" aria-hidden="true"></i></div> -->
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 pull-left">
                        <div class="content smart-gov-text">
                            <h2 class="smart-gov-heading"><b>Decision <br>
                                    Support Systems</b></h2>
                            <h2 class="border-btm"></h2>
                            <p>Decision-Support Systems leverage the power of data and analytics to empower city leaders
                                to solve fast-changing challenges, prioritize action and manage teams of execution. They
                                can be used to improve mobility, disaster response, access to basic services, urban
                                planning and other issues.</p>




                            <!-- <div class="pull-left viewall"><a href="javascript:" class="view" (click)="redirectToUrl('comingsoon')">View All</a> <i
                                    class="fa fa-long-arrow-right" (click)="redirectToUrl('comingsoon')" aria-hidden="true"></i></div> -->
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-5 col-lg-5 col-sm-12 pull-right smart-gov-img"> <img
                            src="./assets/nuih/img/lp2.jpg" alt="" /> </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-12 pull-left smart-gov-img"> <img
                            src="./assets/nuih/img/readyto-use.png" alt="" /> </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-6 col-lg-6 col-sm-12 pull-right">
                        <div class="content smart-gov-text">
                            <h2 class="smart-gov-heading"><b>Ready to use</b></h2>
                            <h2 class="border-btm"></h2>
                            <p>Smart governance platform will be configurable to local needs and can be quickly adopted
                                across many cities at scale.</p>




                            <!-- <div class="pull-left viewall"><a href="javascript:" class="view" (click)="redirectToUrl('comingsoon')">View All</a> <i
                                    class="fa fa-long-arrow-right" (click)="redirectToUrl('comingsoon')" aria-hidden="true"></i></div> -->
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="section-header text-center">
                    <h2>Open Standards and Open APIs</h2>
                    <p>Smart Governance will be governed by the guiding principle of Open
                        Standards and Open APIs which will enable inter-operability between multiple systems.</p>
                </div>
            </div>
        </section>
        <!--==========================
            Our Team Section
          ============================-->
        <!-- <section id="team" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="section-header">
                    <h2>Ready to use,Configurable Urban<br>
                        Governance Platform</h2>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th4.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h3><b>Citizen</b><br>
                                    <br>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th3.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h3><b>State Governments</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th2.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h3><b>Local Governments</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="details">
                                <div class="pic"><img src="./assets/nuih/img/th1.jpg" class="testimonial-img im" alt=""
                                        width="auto">
                                </div>
                                <h3><b>System Integrators</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->





        <!--==========================
            Contact Section
          ============================-->
        <!-- <section id="contact" class="wow fadeInUp">
            <div class="container">
                <div class="section-header text-center row">
                    <div class="col-lg-6 col-md-6 col-sm-6 pull-left blue-color">
                        <h3>Never miss a good Opportunity</h3>
                        <p class="text-align-left">Get our most important updates delivered straight to your inbox </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                        <div class="search">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                            <button type="submit" class="btn2 btn-primary btn-sm">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- #contact -->
        <section id="testimonials" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="section-header smart-gov-heading text-center margin-bottom-15">
                    <h2>Smart Governance empowers<br>
                        multiple stakeholders</h2>
                    <h2 class="smart-gov-border-btm"></h2>
                </div>
                <div class="row">



                    <div class="owl-stage-outer2">
                        <div class="col-lg-4 col-md-4 col-sm-4 pull-left margin-40-auto">
                            <h3 class=" text-center margin-0"> <img src="./assets/nuih/img//1.png" width="auto"
                                    height="auto" alt="" /></h3>
                            <h3 class=" text-center margin-0 stakeholder-header"> Citizens </h3>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 pull-right margin-top-0">
                            <ul class="stakeholder-text">
                                <li>Access governments easily using your mobile phone</li>
                                <li>Your requests automatically reach the appropriate person</li>
                                <li>Stay up to date with inbuilt notifications</li>

                            </ul>
                        </div>
                    </div>

                    <div class="owl-stage-outer2">
                        <div class="col-md-4 col-lg-4 col-sm-4 pull-left margin-40-auto">
                            <h3 class=" text-center margin-0"> <img src="./assets/nuih/img//2.png" width="auto"
                                    height="auto" alt="" /></h3>
                            <h3 class=" text-center margin-0 stakeholder-header"> State Governments </h3>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 pull-right margin-top-0">
                            <ul class="stakeholder-text">
                                <li>Enable all cities to become smart cities</li>
                                <li>Drive best practice sharing across cities</li>
                                <li>Improved urban budgeting and forecasting</li>

                            </ul>
                        </div>
                    </div>

                    <div class="owl-stage-outer2">
                        <div class="col-lg-4 col-md-4 col-sm-4 pull-left margin-40-auto">
                            <h3 class=" text-center margin-0"> <img src="./assets/nuih/img//3.png" width="auto"
                                    height="auto" alt="" /></h3>
                            <h3 class=" text-center margin-0 stakeholder-header">Local
                                Governments</h3>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 pull-right margin-top-0">
                            <ul class="stakeholder-text">
                                <li>Realize the benefits of data driven governance

                                </li>
                                <li>Reduced paperwork for employees

                                </li>
                                <li>Efficient and prioritized use of resources</li>

                            </ul>
                        </div>
                    </div>

                    <div class="owl-stage-outer2">
                        <div class="col-md-4 col-lg-4 col-sm-4 pull-left margin-40-auto">
                            <h3 class=" text-center margin-0"> <img src="./assets/nuih/img//2.png" width="auto"
                                    height="auto" alt="" /></h3>
                            <h3 class=" text-center margin-0 stakeholder-header">System Integrators </h3>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 pull-right margin-top-0">
                            <ul class="stakeholder-text">
                                <li>Smart Governance reduces total project costs</li>
                                <li>
                                    Ready to use & configurable governance platform
                                </li>
                                <li>Can be integrated with multiple applications</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- <section id="testimonials" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">

                <div class="row blue-bgsmrt">
                    <div class="section-header text-center row">
                        <div class="col-lg-9 col-md-9 col-sm-9 pull-left">
                            <h3 class="text-left">For more information please visit digit.org</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 pull-left">
                            <div class="ornagebtn"><a class="btn btn-primary " href="#">TAKE A TOUR</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->


    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg" id="mainNav2">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="http://niua.org"><img
                            src="./assets/nuih/img/footer-logo.jpg" width="auto" height="auto" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="blue" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ft"> <a href="http://smartcities.gov.in/content/" target="_blank"><img
                                        src="./assets/nuih/img/smrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="http://amrut.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/amrut.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://www.hridayindia.in/" target="_blank"><img
                                        src="./assets/nuih/img/hri.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm"
                                    target="_blank"><img src="./assets/nuih/img/bhrt.png" width="90px" height="auto"
                                        alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://pmaymis.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/m.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://nulm.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/day.png" width="90px" height="auto" alt="" /></a> </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
    <!-- #footer -->

    <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->

</div>