<div [appTelemetryImpression]="telemetryImpression">
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="javascipt:"><img
                            src="./assets/nuih/img/nuih-logo.jpg" width="100%" height="100%" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger nav-active" href="/nuis">Home</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/lms">Learn</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/innovate">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/iudx">Data</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/smartgov">Smart
                                    Governance</a> </li>
                            <!-- <li class="nav-item"> <a class="btn btn-primary" href="javascript:"
                                    (click)="backtoPreviousPage()">Back</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- #header -->

    <!--==========================
        Intro Section
      ============================-->
    <section id="intro">

        <div class="intro-content">
            <div class="container">
                <h2>National Urban Innovation Stack</h2>
                <p>NUIS is an initiative of the Ministry of Housing and Urban Affairs to support the development of
                    cities across India and to create a resource-rich ecosystem of learning, sharing and disseminating
                    for city managers and primary stakeholders in the urban transformation of India.</p>
            </div>
        </div>
        <div id="intro-carousel" class=" ">
            <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/about-us.png');"></div>
        </div>
        <!-- <div id="intro-carousel" class="owl-carousel" >
            <div class="overlay-color"></div>
              <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/landing.png');"></div>
               <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/landing.png');"></div>
                <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/landing.png');"></div> 
                <div class="item" style="background-image: url('./assets/nuih/img/intro-carousel/landing.png');"></div>
              
            </div> -->
    </section>
    <!-- #intro -->
    <main id="main">
        <section id="testimonials" class="wow fadeInUp" style="padding:0;">
            <div class="col-md-12 col-lg-12 col-sm-12"
                style="background:url('./assets/nuih/img/abt2.png') no-repeat right top ; height:500px;margin-top: -10px;margin-left: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 pull-left margin-top130">
                            <div class="content">
                                <div class="left-39 section-header">
                                    <h2><b>Our Vision</b></h2>
                                    <p style="font-size:16px;">Providing a horizontal learning and knowledge sharing
                                        platform for exchange between cities, practitioners, academia, researchers and
                                        technologists;</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="testimonials2" class="wow fadeInUp" style="padding:0;">
            <div class="col-md-12 col-lg-12 col-sm-12"
                style="background:url('./assets/nuih/img/abt3.png') no-repeat top left; height:467px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 pull-left"></div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pull-right margin-top130">
                            <div class="content">
                                <div class="left-41 section-header">
                                    <h2><b>Our Goal</b></h2>
                                    <p style="font-size:16px;">Evolving a comprehensive framework to visualize and
                                        articulate the government’s urban sector missions
                                        such as Smart Cities, AMRUT, Housing for All, HRIDAY and Swachh Bharat.</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="testimonials" class="wow fadeInUp" style="padding:0;">
            <div class="col-md-12 col-lg-12 col-sm-12"
                style="background:url('./assets/nuih/img/abt1.png') no-repeat right top ; height:467px;margin-left: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 margin-top130">
                            <div class="section-header text-center">
                                <h2><b>Feedback & Suggestions</b></h2>

                                <p style="font-size:16px;">NUIS encourages collaborative solutions and crowd-sourcing
                                    of ideas for the urban sector, resulting in an eco-system which will promote and
                                    support co-creation at a national and global scale. To achieve this,
                                    we require your active involvement in order to build the content as well
                                    as include new features and provide the best quality of content.
                                    You can contribute content and also connect with others in the ecosystem. <br><br>

                                    While we have built the structure based on identified needs of stakeholders, we
                                    strive
                                    to remain responsive to the users’ needs. Therefore your inputs and suggestions will
                                    be
                                    invaluable in this nascent stage of evolution for improving our services, system
                                    features
                                    and website design.
                                    Please do fill out our feedback form. For any further information please contact
                                    NIUA
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>


    <!--==========================
        Footer
      ============================-->
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg" id="mainNav2">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="http://niua.org"><img
                            src="./assets/nuih/img/footer-logo.jpg" width="auto" height="auto" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="blue" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ft"> <a href="http://smartcities.gov.in/content/" target="_blank"><img
                                        src="./assets/nuih/img/smrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="http://amrut.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/amrut.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://www.hridayindia.in/" target="_blank"><img
                                        src="./assets/nuih/img/hri.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm"
                                    target="_blank"><img src="./assets/nuih/img/bhrt.png" width="90px" height="auto"
                                        alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://pmaymis.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/m.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://nulm.gov.in/" target="_blank"><img
                                        src="./assets/nuih/img/day.png" width="90px" height="auto" alt="" /></a> </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
    <!-- #footer -->

    <!-- <a href="javascript:" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
</div>