@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700");
body {
  background: #fff;
  color: #444;
  font-family: "Raleway", sans-serif !important;
}

a {
  color: #0065fe;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400 !important;
  margin: 0 0 20px 0;
  padding: 0 !important;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #102746;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #50d8af;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0c2e8a;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: #50d8af;
}

#topbar .contact-info i {
  color: #50d8af;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #50d8af;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 20px 0;
  height: 95px;
  transition: all 0.5s;
  z-index: 997;
  background: #ffffff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.3);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #50d8af;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.footer-section {
  width: 100%;
  padding: 6rem 2rem 2rem;
}

#mainNav {
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.75);
}

.landing-page-counter {
  padding-top: 0px !important;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 400px;
  position: relative;
}

#intro .intro-content {
  position: absolute;
  /* background: rgba(25,39,54,1);
background: -moz-linear-gradient(left, rgba(25,39,54,1) 0%, rgba(73,155,234,0.16) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,39,54,1)), color-stop(100%, rgba(73,155,234,0.16)));
background: -webkit-linear-gradient(left, rgba(25,39,54,1) 0%, rgba(73,155,234,0.16) 100%);
background: -o-linear-gradient(left, rgba(25,39,54,1) 0%, rgba(73,155,234,0.16) 100%);
background: -ms-linear-gradient(left, rgba(25,39,54,1) 0%, rgba(73,155,234,0.16) 100%);
background: linear-gradient(to right, rgba(25,39,54,1) 0%, rgba(73,155,234,0.16) 100%); */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192736', endColorstr='#499bea', GradientType=1 ); */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 33px;
  font-weight: 600 !important;
  text-align: left;
  width: 90%;
}

/*#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}*/

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background: rgba(25, 39, 54, 1);
  background: -moz-linear-gradient(left, rgba(25, 39, 54, 1) 0%, rgba(73, 155, 234, 0.16) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25, 39, 54, 1)), color-stop(100%, rgba(73, 155, 234, 0.16)));
  background: -webkit-linear-gradient(left, rgba(25, 39, 54, 1) 0%, rgba(73, 155, 234, 0.16) 100%);
  background: -o-linear-gradient(left, rgba(25, 39, 54, 1) 0%, rgba(73, 155, 234, 0.16) 100%);
  background: -ms-linear-gradient(left, rgba(25, 39, 54, 1) 0%, rgba(73, 155, 234, 0.16) 100%);
  background: linear-gradient(to right, rgba(25, 39, 54, 1) 0%, rgba(73, 155, 234, 0.16) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192736', endColorstr='#499bea', GradientType=1);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul, .nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover>a, .nav-menu .menu-active>a {
  color: #50d8af;
}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #50d8af;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #50d8af;
}

#mobile-nav ul .menu-item-active {
  color: #50d8af;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 25px !important;
  color: #0c2e8a;
  text-transform: none;
  font-weight: 600 !important;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 26px;
  height: 3px;
  bottom: 0;
  left: 49%;
  border-bottom: 3px solid #006dfe;
  border-radius: 3px;
  padding-bottom: 33px;
  top: 3px;
}

.interested-section {
  width: 80%;
  margin-left: 10%;
}

.section-header p {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

/* About Section
--------------------------------*/

#about {
  padding: 70px 0 70px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

#about .content h2 {
  color: #0c2e8a;
  font-weight: 600 !important;
  font-size: 23px;
  font-family: "Raleway", sans-serif !important;
  /*margin-top: 83px;*/
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 22px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #2381ff;
  margin-left: -10px;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* Services Section
--------------------------------*/

#services {
  padding: 30px 0 0 0;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 30px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #50d8af;
}

/* Our Portfolio Section
--------------------------------*/

#portfolio {
  background: #fff;
  padding: 30px 0;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 80px 0 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafcff+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 100%, #fafcff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 100%, #fafcff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 100%, #fafcff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 268px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

#testimonials .testimonial-item .testimonial-img {
  width: 44px;
  /* border-radius: 50%; */
  /* border: 4px solid #fff; */
  margin: 0px auto;
  height: auto;
  margin-bottom: 18px;
}

#testimonials .testimonial-item h3 {
  font-size: 21px;
  font-weight: bold !important;
  margin: 10px 0 10px 0;
  color: #0c2e8a;
  text-align: center;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials-carousel {
  /* width: 80%;
  margin-left: 10%; */
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: #9e9e9e;
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #50d8af;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: #081e5b;
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #50d8af;
  border: 3px solid #50d8af;
}

/* Our Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 30px 0 0 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .memberid {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
}

#team .memberid .pic {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .memberid .pic img {
  max-width: 100%;
}

#team .member .details {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  width: auto;
}

#team .memberid .details {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 100%;
  background-color: #ffffff;
  width: auto;
  height: 400px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

#team .memberid h3 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#team .memberid p {
  padding-top: 45px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .memberid span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 5px;
}

#team .memberid .social {
  margin-top: 5px;
}

#team .member .social a {
  color: #fff;
}

#team .memberid .social a {
  color: #fff;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

#team .memberid .social i {
  font-size: 16px;
  margin: 0 2px;
}

.learn-testimonial-footer-bg {
  background: url(../img/footetbg.jpg) no-repeat top center !important;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* Contact Section
--------------------------------*/

#contact {
  padding: 35px 0;
  background-color: #fafcff;
  /* background:url(../img/footetbg.jpg) no-repeat top center; */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #50d8af;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #50d8af;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #50d8af;
  border: 1px solid #50d8af;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #2dc899;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #102746;
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #0c2e8a;
}

li.nav-item.ft {
  margin: 8px;
}

@media (min-width: 768px) {
  .navbar-brand {
    display: inline-block!important;
    padding-top: 1px!important;
    padding-bottom: 6px!important;
    line-height: inherit!important;
    white-space: nowrap!important;
    width: 60%;
  }
  .navbar-brand {
    margin-left: 4rem;
    font-size: 1.25rem;
    line-height: inherit;
  }
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: absolute;
    top: 3rem;
    left: 0.5rem;
  }
  .get-inspired-container, .new-opportunity-container, .popular-courses-container {
    margin: 0 auto!important;
  }
  div#navbarResponsive {
    height: 100%!important;
  }
  .navbar {
    padding: 0!important;
  }
  #header {
    width: 100%!important;
  }
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .navbar-collapse {
    padding-top: 0;
  }
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 1900px) {
  .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
    width: 60%!important;
    margin: 0 auto;
  }
  div#dropdown-menu-list-header {
    width: 30px;
  }
  .ui.grid>.row {
    padding: 1rem;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .ui.grid>.column:not(.row), .ui.grid>.row>.column {
    width: auto!important;
  }
}

@media (max-width: 768px) {
  .ui.grid {
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
  }
  .two.wide.mobile.only.column.padding-left-25.padding-top-5 {
    width: 100%!important;
    display: inline-block;
    height: 100%;
    height: 70px;
  }
  .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
    width: 70%!important;
    margin: 1rem 3rem!important;
    padding: 0 0 0 0;
  }
  .ui.fluid.input {
    width: 100%!important;
  }
  .one.wide.column {
    position: absolute!important;
    right: 0;
  }
  div#dropdown-menu-list-header {
    width: 30px;
  }
  a img.image.centered.header-logo {
    width: 50%;
  }
  .ui.search {
    width: 90%!important;
  }
  .ui.input {
    width: 100%!important;
  }
  ul.navbar-nav.ml-auto {
    text-align: left!important;
  }
  .section-header h2::before {
    border-bottom: none!important;
  }
  .grow h2.grow-hd::before {
    border-bottom: none!important;
  }
  .section-header.grow h2.grow-hd::before {
    border-bottom: none!important;
  }
  p.count-text.margin-left-25 {
    margin: 0 auto!important;
    text-align: center!important;
  }
  h3 {
    font-size: 1.5rem!important;
  }
  .margin-40-auto {
    margin: 5px!important;
  }
  ul.navbar-nav.ml-auto {
    width: 100%!important;
    display: inline;
  }
  li.nav-item.ft {
    margin: 2px!important;
    float: left;
    width: 90px!important;
  }
  .smart-gov.container {
    margin-left: 0!important;
  }
  .owl-stage-outer2 {
    padding: 10px 0px!important;
    margin: 10px!important;
    text-align: left;
    min-height: 250px!important;
    max-height: 100%!important;
    height: 100%!important;
  }
  .slick-initialized .slick-slide {
    display: block;
    width: 250px!important;
  }
  .orgn {
    padding: 10px!important;
    margin: 5px;
    display: inline-block;
  }
  .grow {
    padding: 10px!important;
    margin: 5px;
  }
  .grow .col-md-7.col-lg-7.pull-left {
    width: 100%!important;
    padding: 0;
  }
  .grow .col-md-2.col-lg-2 {
    width: 100%!important;
    padding: 0;
  }
  .grow .col-md-3.col-lg-3.pull-left {
    width: 100%!important;
    padding: 0;
  }
  .navbar-collapse {
    padding: 0!important;
  }
  ul.navbar-nav.ml-auto li {
    margin-bottom: 3px!important;
  }
  .fixed-top {
    line-height: 112px;
  }
  .navbar-brand {
    display: inline-block!important;
    padding-top: 1px!important;
    padding-bottom: 6px!important;
    line-height: inherit!important;
    white-space: nowrap!important;
    width: 60%;
  }
  .navbar-brand {
    margin-left: 4rem;
    font-size: 1.25rem;
    line-height: inherit;
  }
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: absolute;
    top: 3rem;
    left: 0.5rem;
  }
  /*.get-inspired-container, .new-opportunity-container, .popular-courses-container {
    margin-left:0!important;
}*/
  div#navbarResponsive {
    height: 100%!important;
    margin: 0 20px!important;
  }
  .navbar {
    padding: 0!important;
  }
  #header {
    width: 100%!important;
  }
  .back-to-top {
    bottom: 15px;
  }
  #header {
    padding: 20px 0;
    height: 112px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo img {
    max-height: 40px;
  }
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
    display: inline;
  }
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 34px;
  }
  #services .box .box {
    margin-bottom: 20px;
  }
  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services .box h4, #services .box p {
    margin-left: 0;
    text-align: center;
  }
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

@media (max-width: 576px) {
  #contact #google-map {
    margin-top: 20px;
  }
}

.container {
  max-width: 1420px;
}

div#header-sticky-wrapper {
  height: 112px;
  /*line-height: 110px;*/
}

/*.fixed-top {
    height: 112px;
}*/

.btn-primary {
  color: #302868 !important;
  background-color: transparent !important;
  border: 2px solid #302868 !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 36px;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000e30;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #006dfe;
  border-bottom: 2px solid #006dfe;
}

.nav-active {
  border-bottom: 2px solid #006dfe;
}

.intro-content p {
  text-align: left;
  color: #fff;
  font-size: 15px;
}

.navbar-brand {
  display: inline-block !important;
  padding-top: 1px !important;
  padding-bottom: 6px !important;
  /* margin-left: 10% !important; */
  line-height: inherit !important;
  white-space: nowrap !important;
}

.ml-auto, .mx-auto {
  margin-left: 7% !important;
}

.collapse.show {
  display: block;
  width: 100%;
  background-color: #fff;
}

/* NUIH change starts here: */

.nuis.nav-item {
  margin-bottom: 7px;
  position: relative;
}

.nuis.nav-item a {
  color: #273d6a !important;
}

.nuis.navbar-nav {
  height: 40px;
}

/* NUIH change ends here: */

.navbar-collapse {
  width: 100%;
  padding: 2rem 0rem 0rem;
  background-color: #fff;
}

#search {
  position: relative;
  font-size: 18px;
  padding-top: 70px;
  /* margin: -20px auto 0; */
  width: 997px;
  height: 82px;
}

#search label {
  position: absolute;
  right: 17px;
  top: 70px;
}

#search #search-input, #search .hint {
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 0;
  height: 82px;
  line-height: 82px;
}

.border-btm {
  border-bottom: 3px solid #006dfe;
  border-radius: 3px;
  padding-bottom: 33px;
  border-height: 2rem;
  width: 29px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.smart-gov-border-btm {
  border-bottom: 3px solid #006dfe;
  border-radius: 3px;
  padding-bottom: 33px;
  border-height: 2rem;
  width: 26px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -8px;
  margin-left: 49%;
}

.border-btm-center {
  border-bottom: 5px solid #006dfe;
  border-radius: 3px;
  padding-bottom: 33px;
  border-height: 2rem;
  width: 83px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.col-lg-2.content p {
  color: #b7b7b7;
  font-size: 13px;
}

.col-md-12 {
  display: inline-block;
  margin-left: -10px;
}

.col-md-12 img {
  width: 250px;
  height: auto;
  float: left;
  margin-bottom: 0;
  margin-right: 40px;
  margin-bottom: 20px;
}

body .carousel-control-prev-icon, body .carousel-indicators li, body .carousel-control-next-icon {
  background-color: #fff;
}

span.carousel-control-prev-icon {
  position: relative;
  /*
 right: 65px;*/
}

span.carousel-control-next-icon {
  position: relative;
}

.silder-content.pull-left p {
  padding: 0 0 3px;
  margin: 0;
  color: #b7b7b7;
  width: 72%;
}

.silder-content.pull-left p.highlight {
  padding: 0 0 3px;
  margin: 0;
  color: #000f48;
  width: 72%;
}

.silder-content.pull-left p.bottom-text {
  color: #b7b7b7;
  font-size: 14px;
  padding: 10px 0px 0px;
}

.carousel-control-next {
  right: 0!important;
  height: 70px!important;
  width: 54px;
  position: sticky;
  z-index: 9;
  bottom: 0;
  float: right;
  margin-top: 35px;
}

.carousel-control-prev {
  right: 0!important;
  height: 70px!important;
  width: 54px;
  position: sticky;
  z-index: 9;
  bottom: 0;
  float: right;
  margin-top: 35px;
  margin-right: 30%;
}

.carousel-control-prev-icon {
  background-image: url(../img/arrowleft.jpg);
  height: 37px;
  width: 40px;
  border: none;
}

.carousel-control-next-icon {
  background-image: url(../img/arrowright.jpg);
  height: 37px;
  width: 40px;
  border: none;
}

.pull-right.viewall {
  color: #0065fe;
  margin: 30PX 0 0 0;
  font-size: 14px;
}

.pull-right.viewall a:hover {
  color: #0065fe
}

.learn {
  color: #0065fe;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 0px 0px;
  /* margin-top: 50px; */
  height: 35px;
  width: 100px;
  line-height: 35px;
  font-weight: 600;
  margin: 18px auto 10px;
  border-radius: 3px;
}

.learn:hover {
  cursor: pointer;
  background-color: #0065fe;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 0px 0px;
  /* margin-top: 50px; */
  height: 35px;
  width: 100px;
  line-height: 35px;
  font-weight: 600;
  margin: 18px auto 10px;
  border-radius: 3px;
}

.counter {
  padding: 40px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 18px;
  font-weight: 500 !important;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #0056fe;
}

.grow-your-network-timer {
  margin-bottom: 20px;
  margin-top: 25px;
}

.count-title::after {
  font-size: 20px;
  font-weight: 500;
  /* margin-top: 39px; */
  /* margin-bottom: 30px; */
  text-align: center;
  color: #0056fe;
  content: "+";
  /* float: right; */
  margin: 0px;
  color: #47e793!important;
}

.count-text {
  font-size: 16px;
  font-weight: normal;
  padding-top: 7px;
  margin-bottom: 0;
  text-align: center;
  color: #8591a9;
  width: 50%;
  margin: 0 auto;
  line-height: 1.3em;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.silder-content.oppor {
  background-color: #ffffff;
  padding: 20px;
}

.silder-content.oppor p {
  font-size: 12px;
  color: #99a3b8;
  margin: 15px 0;
}

p.bottom-text.opport {
  font-size: 12px;
  color: #0f2646;
  margin: 20px 0 0;
  line-height: 40px;
  border-top: 1px solid #d1d1d1;
  padding: 15px 0 0;
}

.silder-content.oppor p b {
  font-size: 14px;
  font-weight: 600;
  color: #0f2646;
}

span.pull-right.paticipate {
  color: #0065fe;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 5px 15px;
  height: 44px;
  line-height: 35px;
  width: 130px;
  text-align: center;
  border-radius: 2px;
}

span.pull-right.paticipate:hover {
  background-color: #0065fe;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 5px 15px;
  color: #ffffff;
  height: 44px;
  line-height: 35px;
  width: 130px;
  text-align: center;
  border-radius: 2px;
}

/*
.carousel-item{
	margin-top:90px;
}*/

#testimonials-2 {
  max-height: 165px;
  padding-top: 30px;
}

.grow {
  box-sizing: content-box;
  padding: 75px 114px 0 108px;
  margin: 30px 15px;
  text-align: center;
  min-height: 260px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  background: url(../img/know.png) no-repeat top left;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.grow h2.grow-hd.grow-text {
  font-size: 2rem;
}

.grow {
  margin-bottom: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006dfd+0,075ecf+100 */
  /*background: #006dfd;*/
  /* Old browsers */
  /*background: -moz-linear-gradient(top, #006dfd 0%, #075ecf 100%);*/
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #006dfd 0%,#075ecf 100%);*/
  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #006dfd 0%,#075ecf 100%);*/
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006dfd', endColorstr='#075ecf',GradientType=0 );*/
  /* IE6-9 */
  border-radius: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 14px 21px -10px rgba(43, 99, 184, 1);
  -moz-box-shadow: 0px 14px 21px -10px rgba(43, 99, 184, 1);
  box-shadow: 0px 14px 21px -10px rgba(43, 99, 184, 1);
}

.grow h2.grow-hd {
  font-size: 27px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600 !important;
  position: relative;
  padding-bottom: 20px;
  text-align: left;
}

.grow h2.grow-hd::before {
  content: '';
  position: absolute;
  display: block;
  width: 58px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #47e793;
  border-radius: 3px;
  padding-bottom: 33px;
}

.grow-your-network-container {
  width: 84%;
}

.orgn {
  box-sizing: content-box;
  padding: 50px 114px 0 108px;
  margin: 30px 15px;
  text-align: center;
  min-height: 300px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  background: url(../img/orgn.png) no-repeat top left;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.orgn h2.orgn-hd.orgn-text {
  font-size: 2rem;
}

.section-header.orgn {
  margin-bottom: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006dfd+0,075ecf+100 */
  /*background: #006dfd;*/
  /* Old browsers */
  /*background: -moz-linear-gradient(top, #006dfd 0%, #075ecf 100%);*/
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #006dfd 0%,#075ecf 100%);*/
  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #006dfd 0%,#075ecf 100%);*/
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006dfd', endColorstr='#075ecf',GradientType=0 );*/
  /* IE6-9 */
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 21px -10px rgba(232, 144, 46, 1);
  -moz-box-shadow: 0px 14px 21px -10px rgba(232, 144, 46, 1);
  box-shadow: 0px 14px 21px -10px rgba(232, 144, 46, 1);
}

.section-header.orgn h2.orgn-hd {
  font-size: 27px;
  color: #ffffff;
  text-transform: none;
  font-weight: 600 !important;
  position: relative;
  padding-bottom: 40px !important;
  text-align: left;
}

.section-header.orgn h2.orgn-hd::after {
  content: '';
  position: absolute;
  display: block;
  width: 33px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding-bottom: 33px;
}

.section-header.orgn h2.orgn-hd::before {
  content: '';
  border-bottom: none;
}

.section-header.orgn p {
  color: #fff;
  font-size: 22px;
  width: 100%;
}

h2.timer.count-title.count-number {
  text-align: center;
  padding: 10px;
  margin: 0;
}

h2.timer.count-title.count-number::before {
  border: none;
}

.counter.gr-ctn {
  padding: 0;
}

.counter.gr-ctn p.count-text {
  /* padding: 10px; */
  margin: 0;
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.about-learn {
  color: #0065fe !important;
  font-size: 12px !important;
  border: 1px solid #0065fe !important;
  padding: 5px 15px !important;
  height: 44px !important;
  line-height: 35px !important;
  width: 130px !important;
  text-align: center !important;
  border-radius: 2px !important;
}

/* .about-learn:hover {
    background-color:#0065fe;
    font-size: 12px;
	border: 1px solid #0065fe;
    padding: 5px 15px;
	color:#ffffff;
	margin: 50px auto;
	
	  height:44px;
	line-height:35px;
	    width: 130px;
    text-align: center;
	border-radius:2px;
	
} */

.collapse.navbar-collapse.blue {
  background-color: #102746;
}

.blue a.nav-link.js-scroll-trigger {
  background-color: #102746;
  color: #fff;
  font-weight: normal;
}

.view {
  padding-right: 20px;
}

.top-botm-border {
  background-color: #d1d1d1;
  height: 40px;
  width: 2px;
  float: right;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 5rem;
}

.margin-top130 {
  margin-top: 110px;
}

.small-bow {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.grow p {
  color: #dcedc8;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 500;
}

.text-align-left {
  text-align: left!important;
  font-size: 13px !important;
}

.email.section-header {
  margin-top: 20px !important;
}

.grn-color {
  color: #47e793!important;
  padding: 0!important;
}

.font-size22 {
  font-size: 22px!important;
}

.margin-top35 {
  margin-top: 35px;
}

.counter.gr-ctn.margin-top35 a.btn.btn-primary {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.counter.gr-ctn.margin-top35 a.btn.btn-primary:hover {
  color: #47e793 !important;
  background-color: transparent !important;
  border: 2px solid #47e793 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.ornagebtn {
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.ornagebtn a {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.ornagebtn a:hover {
  color: #47e793 !important;
  background-color: transparent !important;
  border: 2px solid #47e793 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.small-text {
  font-size: 10px;
  color: #c2c2c2;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 15px;
}

.im {
  width: 42px!important;
  height: auto;
}

.testimonial-item.imc {
  min-height: 215px!important;
}

#demo {
  margin-top: 20px;
}

.margin-0 {
  margin: 0!important;
}

.padding-0 {
  padding: 0;
}

.margin-top15 {
  margin-top: 15px;
}

.caru-gallery {
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.caru-gallery ul {
  padding: 0;
  margin: 0;
}

.caru-gallery li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 60px;
  height: auto;
}

.testimonial-item.join-nuih {
  height: 225px !important;
  min-height: 100% !important;
  clear: both;
}

.pro-img {
  margin: -50px auto;
  position: relative;
  width: 115px !important;
}

.blue-color h3 {
  color: #3c90ff;
  font-weight: 600 !important;
  text-align: left!important;
  margin-bottom: 5px;
}

.email.input-group {
  margin-top: 23px;
}

#search {
  float: right;
  margin-top: 9px;
  width: 250px;
}

.btn2 {
  height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
  background-color: #3c90ff;
  color: #fff;
  border: 1px solid #fff;
}

.testimonial-item.join-nuih.height-auto {
  height: 80px!important;
  min-height: 80px!important;
}

#testimonials.wow.fadeInUp.grnn-bg {
  background: #3fd8a0 !important;
}

/*login*/

.main-head {
  height: 150px;
  background: #FFF;
}

.sidenav {
  height: 100%;
  background: url(../img/Sign-in@1x.jpg) top center no-repeat;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }
  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 45%;
  }
  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .login-form {
    margin-top: 20%;
    margin-right: 10%;
  }
  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
  text-align: center;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

button.btn.btn-black.signin {
  margin: 0 auto;
  width: 40%;
  background-color: #3c90ff!important;
}

label {
  font-size: 12px;
  color: #000;
}

.dont-link {
  position: absolute;
  top: 15px;
  /* left: 0; */
  width: 100%;
  right: 15px;
  text-align: right;
}

.box-shd {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  width: 100%;
}

.box-shd img {
  margin: 0 auto 25px;
}

.box-shd h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.row.tabiudx {
  width: 100%;
  margin: 0 auto;
}

.row.tabiudx ul {
  padding: 0;
  margin: 0 auto;
}

.row.tabiudx li {
  padding: 5px;
  margin: 0;
  list-style: none;
  float: left;
}

.row.tabiudx li a {
  padding: 10px;
  margin: 0;
  list-style: none;
  float: left;
  color: #223867;
}

.row.tabiudx li a:hover {
  padding: 10px;
  margin: 0;
  list-style: none;
  float: left;
  color: #006dfe;
  background-color: rgba(0, 109, 254, 0.1);
}

.activeix {
  padding: 10px;
  margin: 0;
  list-style: none;
  float: left;
  color: #006dfe;
  background-color: rgba(0, 109, 254, 0.1);
}

.margin-5rem {
  margin: 5rem auto;
}

.owl-stage-outer2 {
  padding: 15px 0px 0px 0px;
  margin: 30px;
  text-align: left;
  max-height: 240px;
  min-height: 240px;
  height: 100%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  float: left;
  width: 43%;
}

.blue-bgsmrt {
  background: url(../img/retangular.png) no-repeat top center;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  height: 220px;
  border-radius: 17px;
  padding: 6%;
  color: #fff;
}

.ft-logo ul {
  padding: 0;
  margin: 0;
}

.ft-logo li {
  padding: 10px;
  margin: 0;
  float: left;
  list-style: none;
}

li.nav-item.ft {
  margin: 8px;
}

/*innovate-start*/

#innovate-banner {
  width: 100%;
  height: 400px;
  position: relative;
}

#innovate-banner .innovate-content {
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d462e+0,000000+100&0.7+0,0+100 */
  background: -moz-linear-gradient(left, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35d462e', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#innovate-banner .innovate-content h2 {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 33px;
  font-weight: 600 !important;
  text-align: left;
  width: 90%;
}

/*#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}*/

#innovate-banner .innovate-content .btn-get-started, #innovate-banner .innovate-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#innovate-banner .innovate-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#innovate-banner .innovate-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#innovate-banner .innovate-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#innovate-banner .innovate-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#innovate-banner #innovate-banner-caro {
  z-index: 8;
}

#innovate-banner #innovate-banner-caro::before {
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d462e+0,000000+100&0.7+0,0+100 */
  background: -moz-linear-gradient(left, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(93, 70, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35d462e', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#innovate-banner #innovate-banner-caro .innovate-item {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

.innovate-content p {
  text-align: left;
  color: #fff;
  font-size: 15px;
}

/*learn*/

#learn-banner {
  width: 100%;
  height: 400px;
  position: relative;
}

#learn-banner .learn-content {
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032317+0,000000+100&0.7+0,0+100 */
  background: -moz-linear-gradient(left, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3032317', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#learn-banner .learn-content h2 {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 33px;
  font-weight: 600 !important;
  text-align: left;
  width: 90%;
}

/*#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}*/

#learn-banner .learn-content .btn-get-started, #learn-banner .learn-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#learn-banner .learn-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#learn-banner .learn-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#learn-banner .learn-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#learn-banner .learn-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#learn-banner #learn-banner-caro {
  z-index: 8;
}

#learn-banner #learn-banner-caro::before {
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032317+0,000000+100&0.7+0,0+100 */
  background: -moz-linear-gradient(left, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(3, 35, 23, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3032317', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#learn-banner #learn-banner-caro .learn-item {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

.learn-content p {
  text-align: left;
  color: #fff;
}

/*comming soon*/

#comming {
  width: 100%;
  height: 400px;
  position: relative;
}

.fa-long-arrow-right:before {
  color: #6ac7e9;
}

.nuih.btn-primary {
  margin-top: 17px;
}

.innovate-text {
  padding-left: 11px !important;
}

.innovate-text .pull-left {
  padding-left: 0px !important;
}

.smart-gov.container {
  margin-left: 125px;
}

.border-btm b, .smart-gov-heading b {
  font-size: 25px;
  color: #0c2e8a;
  text-transform: none;
  font-weight: 600 !important;
  position: relative;
  padding-bottom: 20px;
  text-align: center
}

.smart-gov-heading {
  margin-block-start: -17px;
  margin-bottom: -17px;
}

.smart-gov-heading h2 {
  font-size: 25px !important;
  color: #0c2e8a;
  text-transform: none;
  font-weight: 600 !important;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.smart-gov-heading.section-header h2::before {
  border-bottom: none !important;
}

.left-39.section-header h2::before {
  left: 39% !important;
}

.left-41.section-header h2::before {
  left: 41% !important;
}

.smart-gov-text p {
  font-size: 15px;
  font-weight: 500;
}

.smart-gov-img img {
  width: 100%;
}

.margin-0 {
  margin: 0px !important;
}

.margin-40-auto {
  margin: 40px auto !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

/*comming soon*/

#comming {
  width: 100%;
  height: 400px;
  position: relative;
}

#comming .comming-content {
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#comming .comming-content h2 {
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bolder !important;
  text-align: left;
  width: 100%;
  letter-spacing: 7px;
}

#comming .comming-content p {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  font-size: 18px;
}

/*#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}*/

#comming .comming-content .btn-get-started, #comming .comming-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#comming .comming-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#comming .comming-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#comming .comming-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#comming .comming-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#comming #comming-caro {
  z-index: 8;
}

#comming #comming-caro::before {
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#comming #comming-caro .comming-item {
  width: 100%;
  height: 590px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

.comming-content p {
  text-align: left;
  color: #fff;
}

.search.col-md-5.col-sm-5.col-lg-5 {
  margin: 0 auto;
}

.email.btn-primary {
  margin-left: -2px;
  padding: 8px 25px;
  font-weight: normal !important;
  color: #FFFFFF !important;
  background-color: #3c90ff !important;
  border: 1px solid #3c90ff !important;
}

.email.btn-primary:hover {
  margin-left: -2px;
  padding: 8px 25px;
  font-weight: 500 !important;
  color: #FFFFFF !important;
  background-color: #0069d9 !important;
  border: 1px solid #0069d9 !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-10 {
  margin-left: 10% !important;
}

.nofont {
  color: #e5e6e9;
  font-size: 52px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.margin-top-7 {
  margin-top: -7px !important;
}

span.pull-left.paticipate {
  color: #0065fe;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 6px 10px;
  /*height:44px;
 line-height:35px;*/
  width: 100px;
  text-align: center;
  border-radius: 2px;
}

span.pull-left.paticipate:hover {
  background-color: #0065fe;
  font-size: 12px;
  border: 1px solid #0065fe;
  padding: 6px 10px;
  color: #ffffff;
  /*height:44px;
line-height:35px;*/
  width: 100px;
  text-align: center;
  border-radius: 2px;
}

.stakeholder-header {
  font-size: 25px !important;
  color: #0c2e8a;
  font-weight: 600 !important;
  margin-top: 10px !important;
}

.stakeholder-text {
  font-weight: 500 !important;
  font-size: 15px !important;
}

.stakeholder-text li {
  margin-top: 23px;
  margin-bottom: 0px;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.color-white{
	color:#fff!important;
}
.fr-toolbar {
  border-top: none !important;
}
.color-white {
  color: #fff!important;
}

/*sign-up*/

@media (min-width: 992px) {
  .col-md-offset-2 {
    margin-left: 16.66666667% !important;
    border-radius: 6px !important;
    border: 1px solid #d9dadc !important;
  }
}

.col-md-offset-2 {
  margin-left: 16.66666667% !important;
  border-radius: 6px !important;
  border: 1px solid #d9dadc !important;
  padding: 0 !important;
}

.form-group {
  float: left !important;
}

.form-control {
  font-size: 0.8rem!important;
}

.form-control:focus {
  color: #495057 !important;
  background-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.footer-signup {
  background-color: #f9fafb !important;
  padding: 15px !important;
  border-top: 1px solid #d9dadc !important;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

.padding-left25 {
  padding: 0 5px 0 25px !important;
}

.col-md-12.footer-signup {
  margin-left: 0 !important;
}

.modal-header {
  margin-bottom: 15px !important;
}

button.btn.btn-primary.pull-right {
  background-color: #98c6e8 !important;
  color: white !important;
  border: none !important;
  padding: 10px 25px !important;
}