<div class="ui grid">
  <div class="row">
    <div class="tweleve wide column">
      <h6 class="ui horizontal divider header">
        <span>Your news feed</span>
      </h6>
    </div>
  </div>
</div>
<div class="ui segment ">
  <h4>Digital Andhra: Complain, Track and Resolve Your Civic Issues Through One App</h4>
  <div class="description">
    <div class="ui list">
      <div class="item">
        <img class="ui avatar image" src="{{'assets/images/user_logo.png' | cdnprefixurl }}">
        <div class="content">
          <div class="header">Guest Contributor</div>
          <div class="description"></div>
        </div>
      </div>
    </div>
    <p>For e-Governments Foundation to bring about impact at the scale, it was necessary to create a shared digital infrastructure, which brought together different stakeholders in the urban ecosystem – from governments to non-profits, from private players to citizenry</p>
    
  </div>
</div>
<div class="ui segment">
  <h4>Tech for Good: The Role of ICT in Achieving the SDGs</h4>
  <div class="description">
    <div class="ui list">
      <div class="item">
        <img class="ui avatar image" src="{{'assets/images/user_logo.png' | cdnprefixurl}}">
        <div class="content">
          <div class="header">Trainer</div>
          <div class="description">SDG Academy/div>
        </div>
      </div>
    </div>
    <p> Governments, Civil society & the Markets are coming together to answer big questions about what our future will look like in a hyper-digitized world. Learn more in the SDG Academy course featuring a case study on Aadhaar & introduction to Societal Platform thinking.
        </p>
  </div>
</div>